docopt==0.6.2
ExifRead==2.1.2
looptools==1.2.3
packbits==0.6
pdfconduit-convert==1.2.8
pdfconduit-modify==2.2.4
pdfconduit-transform==1.2.2
pdfconduit-utils==1.1.2
pdfrw==0.4
Pillow==7.2.0
PillowImage==1.1.6
psd-tools3==1.8.2
psdconvert==1.0.0
PyBundle==1.0.6
PyMuPDF==1.17.7
PyPDF3==1.0.1
reportlab==3.5.49
tqdm==4.49.0
