docopt==0.6.2
ExifRead==2.1.2
packbits==0.6
pdfconduit-convert==1.1.4
pdfconduit-modify==2.0.2
pdfconduit-transform==1.1.1
pdfconduit-utils==1.0.3
pdfrw==0.4
Pillow==5.3.0
psd-tools3==1.8.2
psdconvert==1.0.0
PyBundle==1.0.5
PyMuPDF==1.13.20
PyPDF3==1.0.1
reportlab==3.5.8
tqdm==4.26.0
